

<div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
 <h3>Login</h3>
 
 <form #f="ngForm" (ngSubmit)="onSubmit(f)">
     <div class="form-group">
       <label for="useremail">Email address</label>
       <input type="text" name="email" ngModel required #email="ngModel"
       class="form-control" id="useremail"  placeholder="Enter email">
     </div>
     
     <div class="form-group">
       <label for="userpassword">Password</label>
       <input type="password" name="password" ngModel required #password="ngModel"
       class="form-control" id="userpassword" placeholder="Password">
     </div>
     <button type="submit"
     class="btn btn-primary">login</button>
   </form>
 </div>
 </div>